.footer__column-link {
  line-height: 18px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 0 0 10px;
  transition: .5s linear;
}

.footer__column-link:last-of-type {
  margin-bottom: 0;
}

.footer__column-link:hover {
  background-color: white;
  color: black;
}
