.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: linear .3s;
}

.khan__buy-link:hover {
  transform: scale(1.1);
}
